*{
	padding:0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
  }
body{
	background-color:#666;
	overflow-x:hidden;
}
header, section, aside, footer, article, hrgoup{
	display:block;
}
a{
	text-decoration: none;
	color: #FAFAFA;
}
li{
	list-style: none;
}
h1{
	color:#FAFAFA;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}
h2{
	color: #f39200;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
}
h2 span{
	color:#333333;
}
h3{
	color: #FAFAFA;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4rem;
	padding: 20px 0;
}
#banner{
	padding-top:6px;
	padding-bottom:6px;
	height: 64px;
	width:100%;
	position:fixed;
	background-color:#FFFFFF;
	border-bottom:1px solid rgba(0,0,0,0.5);
}
#banner_wrap{
	width:90%;
	margin:0px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#show_nav_icon{
	position: relative;
	width: 32px;
	height: 28px;
	cursor:pointer;
}
#show_nav_icon span{
	position: absolute;
	width: 28px;
	height: 4px;
	background: #333333;
	border-radius: 10px;
	transform: rotate(0deg);
	transition:all 0.3s ease-in-out;
}
#show_nav_icon span:nth-of-type(1){
	top: 0;
}
#show_nav_icon span:nth-of-type(2){
	top: 12px;
}
#show_nav_icon span:nth-of-type(3){
	top: 24px;
}
#show_nav_icon.open span:nth-of-type(1){
	top: 12px;
	transform: rotate(-135deg);
}
#show_nav_icon.open span:nth-of-type(2){
	top: 12px;
	transform: translate(60px, 0);
	opacity: 0;
}
#show_nav_icon.open span:nth-of-type(3){
	top: 12px;
	transform: rotate(135deg);
}
#station_nav{
	display:none;
}
#slide_nav{
	display: flex;
	align-items: center;
	width:100%;
	height: calc(100vh - 64px);
	top:64px;
	position:fixed;
	background-color: #333333;
	border-left:1px solid rgba(255,255,255,0.5);
	transition:all 1s;
	z-index: 2;
}
#slide_nav ul{
	width: 100%;
	height: 100%;
}
#slide_nav li{
	width: 100%;
	font-size: 1.2rem;
	padding:20px;
	list-style:none;
	border-bottom:1px solid rgba(255,255,255,0.1);
}
#slide_nav a{
	color:white;
	text-decoration:none;
}
.social_size{
	width:30px;
	height:30px;
}
#home_focal{
	text-align:center;
}
#home_wrap{
	width:90%;
	margin:0px auto;
	padding-top: 62px;
	display: flex;
	flex-direction: column;
}
.homeFocalTextCont{
	background-color: #f39200;
	width: 100%;
	padding: 60px 30px 80px 30px;
}
.homeFocalTextCont p{
	padding: 40px 0 60px 0;
	color: #FAFAFA;
}
.homeFocalImg{
	width: 100%;
	height: 200px;
	background: url(../img/focal.jpg);
	background-size: cover;
	background-position: center;
}
.homeFocalTextCont a{
	font-size: 1.2rem;
	padding: 8px 16px;
	text-transform: uppercase;
	background-color: #333333;
	border-radius: 50px;
}
#tileCont{
	width: 100%;
	margin: 20px 0;
}
#tileWrap{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.tileLink{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 40px 20px;
	width: 100%;
	background: #FAFAFA;
}
.image_box{
	width:100%;
	height: 400px;
}
#overlay{
	height:100%;
	padding-top:160px;
	padding-bottom:100px;
	background:rgba(0,0,0,0.3);
}
.sectText{
	color: #f39200;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
}
.orange{
	color: #f39200;
	text-shadow: 1px 1px 6px #333;
}
.dark{
	color: #333;
}
.image_box{
	width:100%;
}
.overlay{
	display: flex;
	align-items: center;
	height: 100%;
	padding-top:100px;
	padding-bottom:100px;
	background:rgba(0,0,0,0.3);
}
.box_wrap{
	width:90%;
	margin:0px auto;
}
#box_01{
	background:url('../img/box_01.jpg');
	text-align:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
#box_02{
	background: #FAFAFA;
	text-align:center;
	display: flex;
	align-items: center;
}
#box_03{
	position: relative;
	background: url('../img/box_03.jpg');
	text-align:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.triRight{
	display: none;
}
.triLeft{
	display: none;
}
.triLeftComp{
	display: none;
}
.triRightComp{
	display: none;
}
.backTop{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -42px;
	left: -42px;
	border-radius: 100px;
	margin-left: 50%;
	z-index: 1;
	padding: 12px;
}
.backTopInner{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f39200;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
#arrowBackTop{
	width: 25px;
	height: 25px;
}
/*---------------------------------------------------->FOOTER<---------------------------------------------------->*/
.footerTop{
	position: relative;
}
#main_foot{
	background-color:#333;
	width:100%;
}
#main_foot_wrap{
	display: flex;
	flex-direction: column-reverse;
	width:90%;
	margin:0px auto;
	padding-top: 40px;
	padding-bottom: 20px;
}
#main_foot_wrap li{
	list-style:none;
}
#main_foot_wrap a{
	color:#FAFAFA;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	text-decoration:none;
}
#main_foot_wrap p{
	margin:0px auto;
	color:#CCCCCC;
	font:500 12px 'Lato', sans-serif;
	text-align:center;
	padding-top:10px;
}
#copyWrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 12px;
}
#foot_links{
	padding-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}
#foot_links li{
	min-width: 30%;
	margin: 12px 0;
	border-right: 1px solid #666;
}
#foot_logo{
	padding-bottom: 12px;
	width:100px;
}
/*////////////CONTACT PAGE///////////*/

#contact_focal{
	text-align:center;
	background-color:#333333;
}
#contact_wrap{
	width:90%;
	margin:0px auto;
	height:100%;
	padding-top:100px;
	padding-bottom:40px;
}
.contact_box{
	width:180px;
	height:180px;
	margin:0px auto;
}
.box_wrapp{
	display:inline-block;
	width:280px;
	margin-top:20px;
}
.contact_text{
	font:500 16px 'Lato', sans-serif;
	color:#CCCCCC;
	padding:20px;
	padding-bottom:40px;
}
.contact_text a{
	text-decoration:none;
	color:#CCCCCC;
}
#phone_box{
	background-image:url(../img/phone_back.svg);
}
#email_box{
	background-image:url(../img/box.svg);
}
#address_box{
	background-image:url(../img/address_back.svg);
}
/*////////////---Universal---///////////*/
.pageWrap{
	position: relative;
	text-align:center;
	background-color:#FAFAFA;
	padding: 64px 0;
	z-index: -1;
}
.bannerComponent{
	width: 100%;
	height: 300px;
	background: url('../img/box_02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.titleComponent{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}
.contentWrap{
	width: 80%;
	margin:0px auto;
	height:100%;
	padding: 40px 0;
}